[Unit]
Description=Discord Webhook server
After=network.target

[Service]
TimeoutStartSec=0
Type=simple
Environment=DISCORD_WEBHOOK={{discord_webhook}}
ExecStart=/usr/local/bin/alertmanager-discord
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
